# Whitelist inside src/
# 0. Ignore all
src/*

# 1. Unignore useful extension-less files
!src/Makefile
!src/makefile

# 2. Unignore all files with extensions
!src/*.*

# 3. Unignore all dirs
!src/*/



# Blacklisting from root 

# Ignore files with extensions `.d`, `.o`, `.data`, `.gcno`, `.gcda`, `.gcov`
*.d
*.o
*.data

*.gcno 
*.gcda 
*.gcov

test/log_tests.txt

.idea
.vscode
.dir-locals.el


