[Unit]
Description=DistWalk client service (interactive workload)
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
RemainAfterExit=yes
User=%u

#ExecStartPre=/bin/kill -s SIGINT `pidof dw_node` > /dev/null
ExecStart=/tmp/dw_src/dw_client --to pcroom1:7891 -C unif:min=1000,max=10000 -r 50 -n 400 --ns 5
ExecStop=/bin/kill -s SIGINT -$MAINPID > /dev/null

TimeoutSec=300
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
